@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --tooltip-bg: #ffffff;
  --tooltip-border: #e2e8f0;
  --tooltip-text: #0f172a;
  --tooltip-cursor: #f1f5f9;
}

.dark {
  --tooltip-bg: #0f172a;
  --tooltip-border: #1e293b;
  --tooltip-text: #f8fafc;
  --tooltip-cursor: #1e293b;
}